<html
        class="light-style customizer-hide"
        data-template="vertical-menu-template-free"
        data-theme="theme-default"
        dir="ltr"
        lang="en"
        xmlns:th="https://www.thymeleaf.org/"
>
<head th:replace="fragment :: header">
</head>

<body>
<!-- Content -->

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-4">
            <!-- Forgot Password -->
            <div class="card">
                <div class="card-body">

                    <h4 class="mb-2"><b>Forgot Password? 🔒</b></h4>
                    <p class="mb-4">Enter your email and we'll send you instructions to reset your password</p>
                    <form action="index.html" class="mb-3" id="formAuthentication" method="POST">
                        <div class="mb-3">
                            <label class="form-label" for="email">Email</label>
                            <input
                                    autofocus
                                    class="form-control"
                                    id="email"
                                    name="email"
                                    placeholder="Enter your email"
                                    type="text"
                            />
                        </div>
                        <button class="btn btn-primary d-grid w-100">Send Reset Link</button>
                    </form>
                    <div class="text-center">
                        <a class="d-flex align-items-center justify-content-center" th:href="@{login}">
                            <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
                            Back to login
                        </a>
                    </div>
                </div>
            </div>
            <!-- /Forgot Password -->
        </div>
    </div>
</div>
<div th:replace="fragment :: script"></div>

</body>
</html>
